<!-- picture of a dead man -->

<p> Sorry, you lose </p>

<img src=<%= "hangman_0.png" %> alt="lose_pic" class="pic">
<p>I guess it didn't matter at all. <br>I completely wasted your time</p>
<form method="post" action="/">
  <input type='submit' value='New Game'>
</form>
